[core]
  editor = subl -w
  excludesfile = ~/.gitignore_global

[rebase]
  autosquash = true

[fetch]
  prune = true

[pull]
  ff = only

[push]
  default = simple

[commit]
  cleanup = scissors


[alias]
  st = status
  cb = checkout -b
  ci = commit --verbose
  co = checkout
  di = diff
  dc = diff --cached
  amend = commit --amend
  aa = add --all
  mnff = merge --no-ff
  mff = merge --ff-only
  apply-gitignore = !git ls-files -ci --exclude-standard -z | xargs -0 git rm --cached
  fpush = push --force-with-lease
  boom = reset --hard @{u}

  # Fancy logging.
  #   h = head
  #   hp = head with patch
  #   r = recent commits, only current branch
  #   ra = recent commits, all reachable refs
  #   l = all commits, only current branch
  #   la = all commits, all reachable refs
  #   b = all branches
  #   bs = all branches, sorted by last commit date
  head = !git r -1
  h = !git head
  hp = "!. ~/.githelpers && show_git_head"
  r = !GIT_NO_PAGER=1 git l -30
  ra = !git r --all
  l = "!. ~/.githelpers && pretty_git_log"
  la = !git l --all
  b = "!. ~/.githelpers && pretty_git_branch"
  bs = "!. ~/.githelpers && pretty_git_branch_sorted"


[color]
  diff = auto
  status = auto
  branch = always
  interactive = auto
  ui = true
  pager = true

[color "status"]
  added = green
  changed = red bold
  untracked = magenta bold

[color "diff"]
  meta = yellow
  commit = green
  frag = magenta
  old = red
  new = green
  whitespace = red reverse

[color "diff-highlight"]
  oldNormal = red
  oldHighlight = "red bold 52"
  newNormal = green
  newHighlight = "green bold 22"

[color "branch"]
  remote = yellow

[url "git@github.com:moneyadviceservice/"]
  insteadOf = "mas:"

[url "git@github.com:gjvis/"]
  insteadOf = "gjvis:"

[url "git@github.com:guidance-guarantee-programme/"]
  insteadOf = "ggp:"

[url "git@heroku.com:"]
  insteadOf = "heroku:"

[url "git@github.com:lm-tools/"]
  insteadOf = "lmt:"

[url "git@github.com:snyk/"]
  insteadOf = "snyk:"

[url "git@github.com:snyk-fixtures/"]
  insteadOf = "snyk-fixtures:"

[include]
  path = ~/.dotfilesPrivate/.gitconfig
